* {
    font-family: "Maple Mono NF", monospace;
}

window#waybar {
    background: rgba(16, 21, 17, 0.55);
    border: 1px solid rgba(168, 181, 138, 0.25);
    border-radius: 24px;
}

#clock {
    color: #F2EAD3;
    font-size: 38px;
    font-weight: 700;
}
