configuration {
    modi: "drun,window,run";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Apps";
    display-window: "Windows";
    display-run: "Run";
    drun-display-format: "{name}";
    font: "Maple Mono NF 11";
}

@theme "theme"
