* {
    font-family: "Maple Mono NF", "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    border: none;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #F2EAD3;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 8px;
}

#custom-logo,
#workspaces,
#clock,
#pulseaudio,
#network,
#battery,
#tray {
    background: rgba(16,21,17,0.82);

    border: 2px solid rgba(78,107,71,0.65);

    border-radius: 18px;

    padding: 0 14px;

    margin: 6px;

    min-height: 34px;
}

#custom-logo {
    color: #88B06A;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

#workspaces {
    padding: 4px;
}

#workspaces button {
    color: #7D8C69;

    border-radius: 12px;

    padding: 0 12px;

    margin: 2px;

    transition: all 180ms ease;
}

#workspaces button.active {
    background: #4E6B47;
    color: #F2EAD3;
}

#workspaces button:hover {
    background: rgba(78,107,71,.45);
    color: white;
}

#clock {
    font-weight: bold;
}

#pulseaudio:hover,
#network:hover,
#battery:hover,
#custom-logo:hover,
#clock:hover {
    background: rgba(78,107,71,.30);
}
